.divider{
    height: 15px;
    width: 2px;
    /* margin: auto; */
    /* border: 2px solid var(--main); */
    background-color: var(--main);
}
/* Forms */
.form{
    width: 48%;
    height: 100%;
}
.form-divider{
    height: 80%;
    width: 5px;
    background-color: #1B4332;
    /* margin: auto; */
    align-self: center;
    border-radius: 5px;
}
/* Responsive */
@media (max-width: 767px){
    .form{
        width: 95%;
        height: fit-content;
    }
    .form-divider{
        display: none;
    }
    .w-sm-full{
        width: 100% !important;
    }

}
