.service-list {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .service-list h2 {
    text-align: center;
    padding: 1rem;
    background-color: #eee; /* Header background */
    margin: 0; /* Remove default margins */
  }
  
  .service-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .service-list th,
  .service-list td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .green-status {
    background-color: #eaffea;
    color: #34a853;
  }
  
  .orange-status {
    background-color: #fff3e0;
    color: #fbbc05;
  }
  
  .red-status {
    background-color: #ed8c8c;
    color: #ec1515;
  }
  
  /* Add additional styling as needed */
  