/* MapAndSidebar.css */

.map-and-sidebar-container {
    position: relative;
    display: flex;
  }
  
  .vehicle-sidebar {
    width: 25%; /* Adjust the width as needed */
    background: #fff;
    z-index: 1000; /* Ensure it's above the map layer */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .leaflet-map {
    flex-grow: 1; /* The map takes up the remaining space */
    z-index: 500;
  }
  
  .vehicle-info img {
    width: 100%;
    /* Ensure the image scales correctly */
  }
  
  .toggle-sidebar {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1500; /* Above both the map and sidebar */
  }
  